.pagination {
  list-style: none;
  display: flex;
  justify-self: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
  margin-top: 20px;
}
.pagination .pageNum,
.pagination .pagePrevious,
.pagination .pageNext {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  display: block;
}

.pagination .pageNum:hover,
.pagination .pagePrevious,
.pagination .pageNext {
  background-color: orangered;
  color: white;
}

.pagination a {
  text-decoration: none;
  color: orangered;
}

.pagination .active {
  background-color: orangered;
}

.pagination .active .pageNum {
  color: #fff;
}
